input(
type="hidden"
name="user"
value=current_user._id
)
div.form-group
  label.col-sm-2.control-label(for="inputUrl") Адрес группы
  div.col-sm-10
    input.form-control(
    type="text"
    name="url"
    id="inputUrl"
    placeholder="Например https://vk.com/public1"
    value=group.url
    )
div.form-group
  label.col-sm-2.control-label(for="inputName") Название
  div.col-sm-10
    input.form-control(
    type="text"
    name="name"
    id="inputName"
    placeholder="Название (будет автоматически получено после сохранения)"
    value=group.name
    )
div.form-group
  label.col-sm-2.control-label(for="inputVkId") ID группы Вконтакте
  div.col-sm-10
    input.form-control(
    type="text"
    name="vk_id"
    id="inputVkId"
    placeholder="ID группы Вконтакте (будет автоматически получено после сохранения)"
    value=group.vk_id
    )
div.form-group
  label.col-sm-2.control-label(for="inputInterval") Интервал минут между постами
  div.col-sm-10
    div.input-group
      input.form-control(
      type="text"
      name="post_interval"
      id="inputInterval"
      placeholder="Интервал минут между постами (для автоматического распределения)"
      value=group.post_interval
      )
      div.input-group-addon минуты
div.form-group
  label.col-sm-2.control-label(for="inputHours") Часы для постов
  div.col-sm-10
    input.form-control(
    type="text"
    name="post_hours"
    id="inputHours"
    placeholder="Часы для постов через запятую (для автоматического распределения)"
    value=group.post_hours
    )
div.form-group
  label.col-sm-2.control-label(for="inputRandom") Случайное отклонение
  div.col-sm-10
    div.input-group
      input.form-control(
      type="text"
      name="post_random"
      id="inputRandom"
      placeholder="Случайный разброс (по умолчанию - 0)"
      value=group.post_random
      )
      div.input-group-addon минуты
div.form-group
  div.col-sm-offset-2.col-sm-10
    button.btn.btn-default(type="submit") Сохранить