each val in images
  div.images-container
    div.form-group.cloning-image-url
      label.col-sm-1.control-label(
      for="inputImageUrl"
      ) URL
      div.col-sm-3
        img(src=val.image_preview_url)
      div.col-sm-3
        input.form-control(
        type="text"
        name="imageUrl[" + val._id + "]"
        placeholder="URL картинки"
        )
      div.col-sm-3
        select.form-control(
        name="imageType[" + val._id + "]"
        )
          case val.type
            when 'document'
              option(value="image") Изображение
              option(value="document", selected="selected") Документ
            default
              option(value="image", selected="selected") Изображение
              option(value="document") Документ
div.images-container
  div.form-group.cloning-image-url
    label.col-sm-1.control-label(
    for="inputImageUrl"
    ) URL
    div.col-sm-5
      input.form-control(
      type="text"
      name="imageUrl[]"
      placeholder="URL картинки"
      )
    div.col-sm-5
      select.form-control(
      name="imageType[]"
      )
        option(value="image", selected="selected") Изображение
        option(value="document") Документ
div.form-group
  div.col-sm-offset-1.col-sm-10
    button.btn.btn-default(
    id="more-images"
    type="button"
    ) +
div.form-group
  label.col-sm-1.control-label(
  for="inputWhen"
  ) Дата
  div.col-sm-1
    div.container
      div.row
        div.col-sm-4
          div.form-group
            div.input-group.date(id='datetimepicker2')
              input.form-control(
                type='text'
                name="when"
                id="inputWhen"
                data-date=post.when.getTime()
              )
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
div.form-group
  label.col-sm-1.control-label(
  for="inputDescription"
  ) Описание
  div.col-sm-10
    input.form-control(
    type="text"
    name="description"
    id="inputDescription"
    placeholder="Описание"
    value=post.description
    )
div.form-group
  label.col-sm-1.control-label(
  for="inputAudio"
  ) Аудио
  div.col-sm-10
    div.input-group
      input.audio-search.form-control(
      type="text"
      name="audio"
      id="inputAudio"
      placeholder="Аудио"
      value=post.audio
      )
      div.input-group-addon
        a#clear_audio(href="javascript: void(0);")
          span.glyphicon.glyphicon-remove(aria-hidden="true")
div.form-group
  div#search_results.col-sm-offset-1.col-sm-10
div.form-group
  div#audios.col-sm-offset-1.col-sm-10
div.form-group
  label.col-sm-1.control-label(
  for="inputGroup"
  ) Группа
  div.col-sm-10
    select.form-control(name="group", autocomplete="off")
      option(value="") Моя страница
      if groups.length
        each val in groups
          if JSON.stringify(val._id) == JSON.stringify(post.group)
            option(value=val._id, selected="selected")= val.name
          else
            option(value=val._id)= val.name
div.form-group
  div.col-sm-offset-1.col-sm-10
    button.btn.btn-default(
    type="submit"
    ) Сохранить