extends ../layout
block content
  if posts.length
    include paginate
    table.table
      thead
        tr
          th Когда
          th Группа
          th Пост одобрен
          th Текст
          th Файлы
          th -
          th -
          th -
      tbody
        each val in posts
          tr(id="postid" + val._id)
            td(scope="row")= new Date(val.when.getTime() + 60 * 60 * 1000).getFullYear() +"/"+("0" + (new Date(val.when.getTime() + 60 * 60 * 1000).getMonth()+1)).slice(-2) +"/"+("0" + new Date(val.when.getTime() + 60 * 60 * 1000).getDate()).slice(-2) + "\n" +("0" + new Date(val.when.getTime() + 60 * 60 * 1000).getHours()).slice(-2) + ":" +("0" + new Date(val.when.getTime() + 60 * 60 * 1000).getMinutes()).slice(-2)
            td
              if val.group
                each group in groups
                  if JSON.stringify(group._id) == JSON.stringify(val.group)
                    = group.name
              else
                На стену
            td
              a.post_approved(href="javascript:void(0);", data-id="" + val._id)
                if val.approved
                  include ../common/item_active
                else
                  include ../common/item_inactive
            td= val.description
            td
              each image in postImages[val._id]
                a(href=image.image_url, target='_blank')
                  img(src=image.image_preview_url)
            td
              a(href="/post/do_post/" + val._id)
                span.glyphicon.glyphicon-star-empty(aria-hidden="true")
            td
              a(href="/post/edit/" + val._id)
                span.glyphicon.glyphicon-pencil(aria-hidden="true")
            td
              a.delete_link(
                href="javascript: void(0);"
                data-post="" + val._id
              )
                span.glyphicon.glyphicon-remove(aria-hidden="true")
    include paginate
  else
    span.label.label-warning Ваш список постов пуст