extends layout
block content
  include ./includes/paginate.jade
  table.table
    thead
      tr
        th= Когда
        th= Заголовок
        th= Описание
        th= Файлы
        th
          -
        th
          -
        th
          -
    tbody
      each val in posts
        tr
          th(scope="row")= val.when.getFullYear() +"/"+("0" + (val.when.getMonth()+1)).slice(-2) +"/"+("0" + val.when.getDate()).slice(-2) + "\n" +("0" + val.when.getHours()).slice(-2) + ":" +("0" + val.when.getMinutes()).slice(-2)
          td= val.title
          td= val.description
          td
            each image in postImages[val._id]
              a(href=image.image_url, target='_blank')
                img(src=image.image_preview_url)
          td
            a(href="/post/do_post/" + val._id)
              span.glyphicon.glyphicon-star-empty(aria-hidden="true")
          td
            a(href="/post/edit/" + val._id)
              span.glyphicon.glyphicon-pencil(aria-hidden="true")
          td
            a(href="/post/destroy/" + val._id + "/" + current_page)
              span.glyphicon.glyphicon-remove(aria-hidden="true")
  include ./includes/paginate.jade