extends layout

block content
  form.form-horizontal(
  method='post'
  action='/source/save'
  )
    div.form-group
      label.col-sm-2.control-label(
      for="inputUrl"
      ) URL
      div.col-sm-10
        input.form-control(
        type="text"
        name="url"
        id="inputUrl"
        placeholder="URL источника"
        )
    div.form-group
      label.col-sm-2.control-label(
      for="inputRate"
      ) Рейтинг
      div.col-sm-10
        input.form-control(
        type="text"
        name="rate"
        id="inputRate"
        placeholder="Рейтинг обновления (от 0.0 до 1.0)"
        value="0.9"
        )
    div.form-group
      label.col-sm-2.control-label(
      for="inputLatest"
      ) Последняя картинка
      div.col-sm-10
        input.form-control(
        type="text"
        name="latest"
        id="inputLatest"
        placeholder="Последняя картинка"
        )
    div.form-group
      div.col-sm-offset-2.col-sm-10
        button.btn.btn-default(
        type="submit"
        ) Добавить
