extends ../layout
block content
  form.form-horizontal(
  method='post'
  action='/users/register'
  )
    if message
      div.alert.alert-danger(role="alert")= message
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="name"
        id="inputName"
        placeholder="Имя"
        autocomplete="off"
        )
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="login"
        id="inputLogin"
        placeholder="Логин"
        autocomplete="off"
        )
    div.form-group
      div.col-sm-2
        input.form-control(
        type="password"
        name="password"
        id="inputPassword"
        placeholder="Пароль"
        autocomplete="off"
        )
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="email"
        id="inputEmail"
        placeholder="E-mail"
        autocomplete="off"
        )
    div.form-group
      div.col-sm-2
        button.btn.btn-default(
        type="submit"
        ) Регистрация