extends ../layout
block content
  if error.length
    each val in error
      span.label.label-warning= val
  form.form-horizontal(method='post', action='/personal')
    if current_user._id
      input(type='hidden', name='id', value=current_user._id)
    div.form-group
      div.col-sm-2
        label.col-sm-2.control-label(for="inputName") Имя
      div.col-sm-2
        label.col-sm-2.control-label(for="inputEmail") E-mail
      div.col-sm-2
        label.col-sm-2.control-label(for="inputLogin") Логин
      div.col-sm-2
        label.col-sm-2.control-label(for="inputNewPassword") Пароль
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="name"
        id="inputName"
        placeholder="Имя"
        value=current_user.name
        )
      div.col-sm-2
        input.form-control(
        type="text"
        name="email"
        id="inputEmail"
        placeholder="E-mail"
        value=current_user.email
        )
      div.col-sm-2
        input.form-control(
        type="text"
        name="login"
        id="inputLogin"
        placeholder="Логин"
        value=current_user.login
        )
      div.col-sm-2
        input.form-control(
        type="password"
        name="new_password"
        id="inputNewPassword"
        placeholder="Новый пароль"
        value=""
        autocomplete="off"
        )
    div.form-group
      div.col-sm-2
        label.col-sm-2.control-label(for="inputVkUserId") Id&nbsp;в&nbsp;VK
      div.col-sm-2
        label.col-sm-2.control-label(for="inputVkCode") Код&nbsp;для&nbsp;токена
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="vk_id"
        id="inputVkUserId"
        placeholder="Id пользователя в VK"
        value=current_user.vk_id
        autocomplete="off"
        )
      div.col-sm-2
        input.form-control(
        type="text"
        name="vk_code"
        id="inputVkCode"
        placeholder="Код доступа"
        value=current_user.vk_code
        autocomplete="off"
        )
      div.col-sm-4
        a(
        target="_blank"
        href=config.getCodeUrl(current_user._id)
        ) Получить код доступа
    div.form-group
      div.col-sm-2
        label.col-sm-2.control-label(for="inputInterval") Интервал
      div.col-sm-2
        label.col-sm-2.control-label(for="inputHours") Часы
      div.col-sm-2
        label.col-sm-2.control-label(for="inputHours") Случайный&nbsp;разброс
    div.form-group
      div.col-sm-2
        div.input-group
          input.form-control(
          type="text"
          name="post_interval"
          id="inputInterval"
          placeholder="20 минут"
          value=current_user.post_interval
          autocomplete="off"
          )
          div.input-group-addon мин.
      div.col-sm-2
        input.form-control(
        type="text"
        name="post_hours"
        id="inputHours"
        placeholder="Часы, через запятую (для автоматического распределения)"
        value=current_user.post_hours
        autocomplete="off"
        )
      div.col-sm-2
        div.input-group
          input.form-control(
          type="text"
          name="post_random"
          id="inputHours"
          placeholder="Случайный разброс (по умолчанию - 0)"
          value=current_user.post_random
          autocomplete="off"
          )
          div.input-group-addon мин.
    div.form-group
      div.col-sm-2
        button.btn.btn-default(
        type="submit"
        ) Сохранить