extends ../layout
block content
  if error.length
    each val in error
      span.label.label-warning= val
  form.form-horizontal(method='post', action='/personal')
    if current_user._id
      input(type='hidden', name='id', value=current_user._id)
    div.form-group
      div.col-sm-2
        label.col-sm-2.control-label(for="inputName") Имя
      div.col-sm-2
        label.col-sm-2.control-label(for="inputEmail") E-mail
      div.col-sm-2
        label.col-sm-2.control-label(for="inputLogin") Логин
      div.col-sm-2
        label.col-sm-2.control-label(for="inputNewPassword") Пароль
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="name"
        id="inputName"
        placeholder="Имя"
        value=current_user.name
        )
      div.col-sm-2
        input.form-control(
        type="text"
        name="email"
        id="inputEmail"
        placeholder="E-mail"
        value=current_user.email
        )
      div.col-sm-2
        input.form-control(
        type="text"
        name="login"
        id="inputLogin"
        placeholder="Логин"
        value=current_user.login
        )
      div.col-sm-2
        input.form-control(
        type="password"
        name="new_password"
        id="inputNewPassword"
        placeholder="Новый пароль"
        value=""
        autocomplete="off"
        )
    div.form-group
      div.col-sm-2
        label.col-sm-2.control-label(for="inputName") Id&nbsp;в&nbsp;VK
      div.col-sm-2
        label.col-sm-2.control-label(for="inputEmail") Токен
    div.form-group
      div.col-sm-2
        input.form-control(
        type="text"
        name="vk_user_id"
        id="inputVkUserId"
        placeholder="Id пользователя в VK"
        value=current_user.vk_user_id
        autocomplete="off"
        )
      div.col-sm-2
        input.form-control(
        type="text"
        name="vk_token"
        readonly="readonly"
        id="inputVkToken"
        placeholder="Токен доступа"
        value=current_user.vk_token
        )
      div.col-sm-2
        a(
        href=config.getAuthUrl(current_user._id)
        ) Получить токен доступа
    div.form-group
      div.col-sm-2
        button.btn.btn-default(
        type="submit"
        ) Сохранить